:root {
    --color-dark: #111;
    --color-white: #fff;
    --color-light: #ababab;
    --color-purple: yellow;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', Calibri, sans-serif;
  }
  
  body {
    background-color: var(--color-dark);
    color: var(--color-white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  
  .clock {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  .clock span {
    font-size: 150px;
    display: flex;
    align-items: center;
  }
  
  .clock span:not(:last-child)::after {
    content: ":";
    margin-bottom: 25px;
    color: var(--color-light);
    width: 100%;
    text-align: center;
  }
  
  h2 strong {
    color: var(--color-purple);
  }
  
  /* Responsivo */
  @media screen and (max-width: 992px) {
    .clock span {
      font-size: 50px;
    }
  
    .clock span:not(:last-child)::after {
      display: none;
    }
  }
  